/* Base Application Styles */
h1,h2,h3,ul,li,a,p,figure,figcaption{
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a{ 
text-decoration:none; 
color: #fff; 
}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clearfloat{zoom:1}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{ 
    height: 15px;
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{    
    background-color: rgba(0,0,0,0.5);  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;   
    background-color: #ccc;  
}
html,body,#app{
  height: 100%;
}
body {
  color: #fff;
  background: #222;
  font-family: '微软雅黑' !important;
}
.stage{
  width: 100%;
  height: 100%;
  position: relative;    
  .stageImg{
    height: 715px;
    width: 100%;
    overflow: auto;
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 15px;

    @media screen and (max-height: 800px) {
      height: 500px
    }    
    .main-img{
      height: 715px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1000;
      @media screen and (max-height: 800px) {
        height: 500px
      }            
    }
  }
}

.wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10000;

  background-color: rgba(0,0,0,0.3);
}
.wrapper-disappear{
  display: none;
}

.start{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 200px;
  z-index: 10000;

  margin-left: -200px;
  margin-top: -150px;
  text-align: center;

  .start-btn{
    cursor: pointer;
    color: #000;
    font: 40px/50px '微软雅黑';
    font-weight: 700;
    margin-top: 20px;
  }
  .start-title{
    color: #000;
    font: 50px/50px '微软雅黑';
    font-weight: 700;    
  }
}

.start-disappear{
  display: none;
}

.hide-btn{
  position: absolute;
  left: 50%;
  top: 10px;
  z-index: 1001;
  
  width: 80px;
  margin-left: -40px;
  cursor: pointer;

  color: #565656;
}

.hide-menu{
  opacity: 0;
}

.show-menu{
  opacity: 1;
}

.menu-side{
  width: 18%;
  height: 715px;
  position: fixed;
  z-index: 1000;
  top: 0;
  box-sizing: border-box;
  
  background-color: rgba(0,0,0,0.5);
  padding-top: 50px;
  overflow: auto;
  
  transition: all 0.6s;
  @media screen and (max-height: 800px) {
    height: 500px
  }   
}
.menu-left{
  left: 0;
}
.menu-right{
  right: 0;
}
.menu-bottom{
  font-size: 0;
  line-height: 0;
  box-sizing: border-box;
  height: 100%;
  text-align: center;
  overflow: auto;
  padding-top: 730+70px;
  @media screen and (max-height: 800px) {
    padding-top: 515+50px;
  }  
  .bottom-title{
    width: 100px;
    margin-left: -50px;
    font: 20px '微软雅黑';
    position: fixed;
    top: 750px;
    left: 50%;
    @media screen and (max-height: 800px) {
      top: 520px;
    }    
    z-index: 1000;
  }
}










