/* Base Application Styles */
h1,h2,h3,ul,li,a,p,figure,figcaption{
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a{ 
text-decoration:none; 
color: #fff; 
}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clearfloat{zoom:1}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{   
    height: 15px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{    
    background-color: rgba(0,0,0,0.5);  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;   
    background-color: #ccc;  
}
html,body,#app{
  height: 100%;
}
body {
  color: #fff;
  background: #222;
  font-family: '微软雅黑';
}
.stage{
  width: 100%;
  height: 100%;
  .stageImg{
    height: 730px;
    overflow: auto;
    font-size: 0;
    .main-img{
      height: 715px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1000;      
    }
  }
}

.menu-side{
  width: 18%;
  height: 715px;
  position: fixed;
  z-index: 1000;
  top: 0;
  box-sizing: border-box;
  
  background-color: rgba(0,0,0,0.5);
  padding-top: 50px;
  overflow: auto;
    
}
.menu-left{
  left: 0;
}
.menu-right{
  right: 0;
}
.menu-bottom{
  height: 200px;
  text-align: center;
  overflow: auto;
  p{
    margin: 1.5% 0;
    font: 20px '微软雅黑';
  }
}










