.bottom-figure{
	height: 150px;
	display: inline-block;
	margin: 0 20px;
	img{
		width: 100px;
		height: 100px;
	}
	figcaption{
		height: 40px;
		margin-top: 10px;
		p{
			color: #fff;
			font:15px/15px '微软雅黑';
		}
	}
}