.right-li{
	width: 100%;

	img{
		margin: 50px auto;
		display: block;
		height: 140px;
		width: 140px;
		padding: 10px;
		cursor: pointer;
		box-sizing: border-box;
		border: 2px solid rgba(0,0,0,0);
	}
	img:hover{
		border: 2px solid #fff;
	}
}
	
